.midfield {
  color: red;
  background-color: silver;
  font-weight: bolder;
  border: 2px groove goldenrod;
  border-radius: 5px;
  text-decoration: wavy;
  margin-left: 3px;
}

.attacker {
  color: green;
  font-weight: bolder;
  background-color: silver;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 3px;
}

.defender {
  color: blue;
  font-weight: bolder;
  background-color: grey;
  border: 2px solid greenyellow;
  border-radius: 5px;
  margin-left: 3px;
}

.keeper {
  color: yellow;
  font-weight: bolder;
  background-color: black;
  border: 2px solid red;
  border-radius: 5px;
  margin-left: 3px;
}

.player {
  font-weight: bold;
  font-size: 18px;
}
