<nav class="navbar navbar-expand-sm bg-dark ms-auto justify-content-center">
  <ul class="nav navbar-nav">
    <li class="nav-item bar">
      <a class="nav-link text-light" href="">Home</a>
    </li>
    <li class="nav-item bar">
      <a class="nav-link text-light" href="/teams">Teams</a>
    </li>
    <li class="nav-item bar">
      <a class="nav-link text-light" href="/dev">Dev</a>
    </li>
    <li class="nav-item bar">
      <a class="nav-link text-light" href="/contact">Contact</a>
    </li>
    <li class="nav-item bar">
      <a class="nav-link text-light" href="/update">Bench</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
