<div class="cal">
  <h1>{{ title }}</h1>

  <form>
    <label>Numero 1</label>
    <input
      type="number"
      class="form-control"
      autofocus
      [(ngModel)]="num1"
      name="num1"
    />
    <br /><br />
    <label>Numero 2</label>
    <input class="form-control" type="number" [(ngModel)]="num2" name="num2" />
    <button type="submit" class="btn btn-success" (click)="sumar()">
      SUMAR
    </button>
    <button type="submit" class="btn btn-success" (click)="restar()">
      RESTAR
    </button>
    <button type="submit" class="btn btn-success" (click)="mult()">
      MULTIP.
    </button>
  </form>
  <h2>Resultado: {{ resul }}</h2>
</div>

<h3>QLQ MENOLKI</h3>
