.main-container {
  //margin: 0 auto;
  width: 100%;
  //min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  //overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.contact-scroll {
  text-decoration: none;
  color: #fbc02d;
}

.header {
  @media screen and (min-width: 768px) {
    height: 250px;
  }

  @media screen and (min-width: 1024px) {
    height: 350px;
  }

  width: 100%;
  height: 160px;
  box-shadow: 4px 10px 10px rgba($color: #000, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./src/assets/sugar.jpg");
  background-size: cover;
  backdrop-filter: blur(10px);
  background-color: rgba($color: #6e969e, $alpha: 0.8);
  z-index: 2;
  .header-title {
    @media screen and (min-width: 768px) {
      font-size: 100px;
      text-shadow: 2px 2px #b636dc;
    }
    @media screen and (min-width: 1024px) {
      font-size: 120px;
      text-shadow: 2px 2px #fafafa;
    }
    color: #b52e21;
    font-kerning: 5px;
    font-weight: bolder;
    font-size: 80px;
    margin: 0;
  }
}

.navbar {
  z-index: 1;
  width: 100%;
  height: 65px;
  background-color: #32429b;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 10px;

  .navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    list-style-type: none;
    margin: 0;
    margin-top: 15px;
    margin-left: 15px;
    padding: 0;
  }

  .navbar-list li {
    @media screen and (min-width: 768px) {
      font-size: 24px;
      height: 40px;
      padding: 0;
    }

    @media screen and (min-width: 1024px) {
      font-size: 30px;
      height: 45px;
    }
    h3 {
      margin: 0;
    }
    border-bottom: 2px solid #8bc34a;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
    width: fit-content;
    color: white;
    font-size: 20px;
    padding-top: 18px;
  }

  .navbar-list li:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
    border-bottom: 4px solid #fafafa;
    opacity: 0.5;
  }
}

.chef-title {
  @media screen and (min-width: 768px) {
    font-size: 50px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 90px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 120px;
    margin-bottom: 20px;
  }
  text-align: center;
  width: 100%;
  font-size: 40px;
  font-kerning: 10px;
}

.form-box {
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    display: grid;
    height: 200px;
  }
  margin-top: 5px;
  height: 100px;
  width: 75%;
  margin: 0 auto;
  padding: 10px;
  display: none;
  grid-template-rows: 1fr 1fr;
}

.name-field {
  height: 60px;
  width: 600px;
  margin: 0 auto;

  label {
    color: #fafafa;
    font-size: 30px;
  }

  input {
    background-color: #d6d6d6e7;
    color: #32429b;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 15px;
    height: 30px;
    width: 300px;
  }
}

.meal-field {
  height: 60px;
  width: 600px;
  margin: 0 auto;

  label {
    color: #fafafa;
    font-size: 30px;
  }

  input {
    background-color: #d6d6d6e7;
    color: #32429b;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 60px;
    height: 40px;
    width: 300px;
  }
}

.cook {
  @media screen and (min-width: 1024px) {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 40px;
    width: 80px;
    font-size: 20px;
    border-radius: 15px;
  }
  width: 40px;
  border: 1px solid #d6c6d3;
  background-color: #ff6f43bb;
  color: #fafafa;
  display: none;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.cook:hover {
  background-color: #b52e21;
}

.cook:active {
  border: 2px solid green;
  transform: translateY(4px);
}

.user-info {
  transition: all 2s ease-in-out;
  //text-decoration: underline;
  text-align: left;
  color: #fafafa;
  margin-left: 20px;
  animation: textpop 2s;
  width: 80%;
  padding: 15px;
}

//ANIMACION DE APARICION DE TEXTO
@keyframes textpop {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

//.recipe-header {
//  width: 80%;
//  height: 160px;
//  margin: 0 auto;
//  margin-top: 10px;
//  display: flex;
//  flex-direction: column;
//  border: 2px solid red;
//  padding: 10px;
//}

.recipe-header {
  @media screen and (min-width: 768px) {
    height: 180px;
    background-position: 50%;
  }

  @media screen and (min-width: 1024px) {
    height: 210px;
    background-position: 60%;
  }
  position: relative;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.recipe-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  //opacity: 0.3;
  //background-image: url("./assets/piksa.jpg");
  background-color: rgba(255, 255, 255, 0.5);
}

.recipe-title {
  @media screen and (min-width: 1024px) {
    font-size: 90px;
  }
  //z-index: 1;
  position: relative;
  width: 100%;
  //height: 20px;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  justify-items: center;
  //align-content: center;
  margin: 0;
}

.recipe-info {
  //z-index: 1;
  position: relative;
  width: 70%;
  //height: 85px;
  text-align: left;
  margin-left: 20px;
  @media screen and (min-width: 768px) {
    margin-left: 35px;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1024px) {
    margin-left: 40px;
    margin-bottom: 15px;
  }
  p {
    @media screen and (min-width: 768px) {
      font-size: 35px;
    }
    @media screen and (min-width: 768px) {
      font-size: 45px;
    }
    font-weight: 450;
    font-size: 30px;
    margin: 0;
  }

  i {
    @media screen and (min-width: 768px) {
      font-size: 30px;
    }
    z-index: 1;
    position: relative;
    color: #1e151c;
    font-size: 20px;
    margin-right: 10px;
  }
}

.recipe {
  color: white;
  width: 90%;
  @media screen and (min-width: 768px) {
    justify-content: space-evenly;
  }
  margin-left: 15px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.recipe-ingredients {
  width: 50%;
  h2 {
    @media screen and (min-width: 768px) {
      font-size: 40px;
      margin-left: 14px;
    }
    color: #fbc02d;
    font-size: 26px;
    margin: 0;
    margin-left: 10px;
  }

  li {
    list-style: none;
    width: 150px;
  }
}

.recipe-description {
  width: 50%;
  align-self: flex-start;

  h2 {
    @media screen and (min-width: 768px) {
      font-size: 40px;
      margin-left: 14px;
    }
    color: #fbc02d;
    font-size: 26px;
    text-align: right;
    margin: 0;
    //margin-right: 10px;
  }

  p {
    text-align: right;

    font-size: 20px;
  }
}

.star {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 10px;
  cursor: pointer;
  color: #dabd18b2;
  @media screen and (min-width: 1024px) {
    font-size: 30px;
  }
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 30px;
  color: #f5c800;
}
.off {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 30px;
  color: #ccc;
}

.ingredient {
  @media screen and (min-width: 768px) {
    font-size: 32px;
    //margin-left: 14px;
  }
  font-size: 24px;
  margin-bottom: 10px;
}

.list-icon {
  margin-right: 10px;
}

.contact {
  @media screen and (min-width: 768px) {
    opacity: 0.9;
    //margin-left: 14px;
  }
  @media screen and (min-width: 1024px) {
    background-size: 50%;
    //margin-left: 14px;
  }
  align-items: center;
  background-image: url("./assets/record_52996_-removebg-preview.png");
  filter: drop-shadow(5px 5px 5px rgba(231, 224, 224, 0.733));
  opacity: 0.8;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  //box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
  color: #252525;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  transition: all 0.4s ease-in-out;
  width: 80%;

  h1 {
    @media screen and (min-width: 768px) {
      font-size: 50px;
      padding-top: 30px;
      //margin-left: 14px;
    }
    @media screen and (min-width: 1024px) {
      margin-top: 10px;
      //margin-left: 14px;
    }
    padding-top: 15px;
    margin: 0;
    font-size: 40px;
  }

  h3 {
    @media screen and (min-width: 768px) {
      font-size: 36px;
      padding-top: 10px;
      //margin-left: 14px;
    }
    text-align: center;
  }
}

.contact:hover {
  @media screen and (min-width: 1024px) {
    font-size: 32px;
    //margin-left: 14px;
    box-shadow: none;
  }
  transition: all 0.4s ease-in-out;
  margin-bottom: 20px;
  transform: translateY(-5px);
}

.easter-egg {
  text-align: center;
}

.footer {
  width: 100%;
  //  margin-top: auto;
  background: #d6d6d6;
  text-align: center;
}
