.app-name {
  background-color: azure;
  border-top-left-radius: 50px;
  border: 2px solid #252525;
  box-shadow: 4px 2px 2px #252525;
  position: relative;
  left: 500px;
  height: 30px;
  padding: 10px;
  width: 295px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  width: 900px;
  height: 450px;
  //border: 3px solid black;
  //USAR SOMBRA PARA EL MENUS
}

.navbar-container {
  height: 45px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #8075ff;
  margin: 0;
  padding: 0;
  li {
    padding: 10px;
    transition: all 0.3s;
  }

  li:hover {
    transition: all 0.3s;

    background-color: #b8b8ff;
    font-weight: bolder;
    border-bottom: 2px solid #414361;
  }

  .navbar-active {
    background-color: #b8b8ff;
    border-bottom: 2px solid #414361;
    font-weight: bolder;
  }
}

.menu {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
}

.portafolio {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #414361;
  background-image: url("./assets/worldcup.png");
  background-size: 170%;
  background-position: 50%;
  background-repeat: no-repeat;
  color: #f8f7ff;
  height: 340px;
  width: 200px;
  margin-right: 10px;
}

.kick-off {
  display: flex;
  flex-direction: column;
  text-align: left;
  //padding: 10px;
  background-color: #414361;
  color: #f8f7ff;
  height: 340px;
  width: 200px;
  margin-right: 10px;
}

.kick-off-content {
  padding: 10px;

  h2 {
    position: relative;
    color: #f8f7ff;
    bottom: 20px;
  }
}

.kick-off-info {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f8f7ff;
  img {
    width: 80px;
    height: 80px;
    position: relative;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about {
  background-color: #414361;
  color: #f8f7ff;
  height: 230px;
  width: 420px;
}

.contact {
  background-color: #414361;
  color: #f8f7ff;
  height: 100px;
  width: 420px;

  //position: relative;
  //top: 200px;
}

/* Sweep To Left */
.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to left, #8075ff 0%, #8f38e5 100%);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover,
.hvr-sweep-to-left:focus,
.hvr-sweep-to-left:active {
  color: #414361;
}
.hvr-sweep-to-left:hover:before,
.hvr-sweep-to-left:focus:before,
.hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transition-duration: 0.4s;
}

/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  transition: all 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, #8075ff 0%, #8f38e5 100%);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  transition: all 0.3s;
}
.hvr-sweep-to-bottom:hover,
.hvr-sweep-to-bottom:focus,
.hvr-sweep-to-bottom:active {
  color: #414361;
  opacity: 0.8;
}
.hvr-sweep-to-bottom:hover:before,
.hvr-sweep-to-bottom:focus:before,
.hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  transition-duration: 0.4s;

  opacity: 0.8;
}

/////SLIDER//////////////

.slider {
  width: 420px;
  height: 180px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 420px;
  height: 180px;
  margin-right: 50px;
  //border-radius: 10px;
  background: #8075ff;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.author-info a {
  color: white;
}
img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: #fafafa;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relatives;
  top: -200px;
}
.slider > a:active {
  top: -200px;
}
.slider > a:focus {
  background: #8075ff;
}
